.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 0 auto;
  background-color: cadetblue;
  width: 100%;
}

.form label {
  text-align: left;
}

.form input,
.form button,
.deletBtn,
.form label {
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
  margin: 0 auto;
  height: 35px;
}

.form button {
  background-color: green;
}

.form button:hover {
  background-color: lightblue;
}

*:focus {
  outline: none;
}

/* Task Card */

.taskBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8%;
}


.taskCard {
  border: 1px solid rebeccapurple;
  border-radius: 8px;
  margin: 2%;
  width: 20%;
  text-align: left;
}

.deletBtn {
  background-color: crimson;
  width: 40%;
  margin-bottom: 2%;
  margin-left: 30%;
}